* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.margin4 {
    margin-top: 4%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    margin-bottom: 6%;
}

.resumename {
    font-size: 2.75rem;
    font-weight: 900;
    letter-spacing: .4rem;
    color: #54b689;
    padding: 3rem !important;
    margin-right: auto !important;
    margin-left: -6.8%;
    margin-top: -3.2%;



}

.jobpost {
    font-size: 16px;
    font-size: 1.25rem;
    font-weight: 300;
    color: #4F4F4F;
    margin-left: 3%;
    margin-top: -10.6%;
   
    
}