* {
    padding: 0;
    margin: 0;
    box-sizing: 0;

}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    margin-top: -5px;
    margin-left: 60px;
 
}

.navbar-brand:hover {
  color: #000000;
}

.navbar-brand2 {
  font-size: 28px;
  font-weight: 700;
  color: #000000;
  margin-top: -10px;
  display: none;

}

.tagedit {    
    float: right;
    word-spacing: 20px;
    margin-top: -60px;
    margin-right: 53px;
    
}

.tagedit a {
    color: #000000;
    padding: 8px 12px;
}

.margintop {
    margin-top:187px;
    margin-left: 200px;
 
}

.nametitle {
  margin-left: -18px;
  margin-top: 200px;
 

}

.lhweb {
  line-height: 70px;
}


.madewith {
  margin-left: -18px;
  margin-top: 5px;
}

.buttonmarginleft1 {
  margin-left: -5px;
  margin-top: 5px;
  padding: 9px 14px;
}

.buttonmarginleft2 {
  margin-left: 20px;
  margin-top: 5px;
  padding: 9px 14px;
}









.btn-success {
    background-color: #68D391;
}

.btn-outline-success {
    color: #000000;
}

.imgeedit img {
    float: right;
    margin-top: -317px;
    margin-right: 60px;
    border: 17px solid #FFFFFF;
    z-index: -1;
    position: relative;
}

.blackborder {
    height: 50px;
    width: 192px;
    background-color:  	rgb(128,128,128);
    rotate: 225deg;
    opacity: 0.8;
    float: right;
    margin-top: -318px;
    margin-left: 938px;  
    position: absolute;
  
   }

   .greyborder {
    height: 50px;
    width: 192px;
    background-color:  	rgb(232,243,236);
    rotate: 225deg;  
    float: right;
    margin-top: 50px;
    margin-left: 650px;  
    position: absolute;
  
   }

   .margintopimg {
       margin-top: 75px;
   }

   .border-top {
       width: 80%;
      
   }

   .progheading {
       font-weight: 800;
   }
  

   .margintopimg  h1 {
     font-size: 62px;
     margin-top: 40px;
   }

   .margintopimg p {
       margin-top: 15px;
       font-size: 18px;
       font-weight: 400;
       color: #757575;
   }

   .cssimg {
       height: 100px;
       width: 100px;
       margin-top: 15px;
       align-items: center;
       vertical-align: middle;
       margin-left: 50px;
   }

   .htmlimg, .javaimg ,.bootstrap {
       height: 100px;
       width: 100px;
       margin-top: 30px;
       margin-left: 185px;
       align-items: center;
        vertical-align: middle;
   }

   .font-bold {
       font-size: 21px;
       float: right;
       margin-right:-30px;
       margin-top: -24px;
   }


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #000000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .containertl {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 42%;
  
    
  }
  
  
  
  /* Place the container to the left */
  .left {
    left: 0%;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    border: 2px solid #000000;
    margin: -30px;
    margin-right: -115px;
    border-radius: 6px;
  }   
  
  .textaright1 {
      text-align: right;
      margin-bottom: 40px;
  }
  
  .textaright2 {
      text-align: right;
      margin-top: 40px;
  }
  
  .textaright3 {
      text-align: left;
      margin-bottom: 40px;
  }
  
  .textaright4 {
      text-align: left;
      margin-top: 40px;
  }
  

  
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  height: 375px;
  color: #8C98AA; 
}





.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container5684 {
  padding: 2px 4px;
  line-height: 12px;
  margin-left: 6px;
  
}

.container5684 h3 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
}

.cardpar {
  font-size: 12px;
}
  



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


  
.text-red-500 {
  color: #F56565;
}

.contactemail {
  background-color: #EDF2F7;
  padding: 6px 10px;
  border: 2px solid #EDF2F7;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
}

.contactemail:hover {
  text-decoration: none;
  color: #000000;

}

input[type=reset] {
  background-color: #EDF2F7;
  padding: 6px 10px;
  border: 2px solid #EDF2F7;
  border-radius: 4px;
  
}

.fonticon {
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  word-spacing: 80px;
  width: 50px;
  text-decoration: none;
  margin: 0px 8px;
  }

  .fa-envelope {
    color: #FFFFFF;
    border-radius: 50%;
    border:12px solid #000000;
    background-color: #000000;
    text-align: center;
    align-items: center;
    vertical-align: middle;       
  }
  


  .fa:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 

}

   .fa-github{
    color: #FFFFFF;
    border-radius: 50%;
    border:12px solid #000000;
    background-color: #000000;
    text-align: center;
    align-items: center;
    vertical-align: middle;       
  }


   .fa-medium {
    color: #FFFFFF;
    border-radius: 50%;
    border:12px solid #000000;
    background-color: #000000;
    text-align: center;
    align-items: center;
    vertical-align: middle;       
  }



  .fa-stack-overflow {
    color: #FFFFFF;
    border-radius: 50%;
    border:12px solid #000000;
    background-color: #000000;
    text-align: center;
    align-items: center;
    vertical-align: middle;       
  }




  .fa-twitter {
    color: #FFFFFF;
    border-radius: 50%;
    border:12px solid #000000;
    background-color: #000000;
    text-align: center;
    align-items: center;
    vertical-align: middle;       
  }



  .fa-facebook-f {
    color: #FFFFFF;
    border-radius: 50%;
    border:12px solid #000000;
    background-color: #000000;
    text-align: center;
    align-items: center;
    vertical-align: middle;       
  }

  .dby {
    font-size: 13px;
    color: #FFFFFF;
    height: 88px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
  }


  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .containertl {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .containertl::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }

  @media screen  and (max-width: 767px) {
    .navbar-brand {
      font-size: 28px;
      font-weight: 700;
      color: #000000;
      margin-top: -10px;
      display: none;   
  }

  .navbar-brand2 {
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 5px;
    display: flex;
    margin-left: -110px;
    background-color: #000000;
    border-radius: 6px;   
}

.tagedit {    
  float: right;
  word-spacing: 20px;
  margin-top: -58px;
  margin-right: -110px;  
}

.tagedit a {
  color: #000000;
  padding: 6px 6px;
}

.nameres {
  text-align: justify;
  margin-left: 25%;
  margin-right: 2%;
  
}









  
   }

   @media (min-width: 320px) and (max-width: 766px) {
  
    /* CSS */

    .navbar-brand {
      font-size: 28px;
      font-weight: 700;
      color: #000000;
      margin-top: -10px;
      display: none;
   
  }

  .navbar-brand2 {
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 5px;
    display: flex;
    margin-left: 0px;
    background-color: #000000;
    border-radius: 6px;
   
 
}

.tagedit {    
  float: right;
  word-spacing: 20px;
  margin-top: -58px;
  margin-right: 30px;  
}

.tagedit a {
  color: #000000;
  padding: 6px 6px;
}

    
  }
  