* {
    padding: 0;
    margin: 0;
    box-sizing: 0;

}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    padding-left: 165px;
    margin-top: -10px;
 
}

.tagedit {
    padding-right: 208px;
    float: right;
    word-spacing: 16px;
    margin-top: -3.5%;
    
}

.tagedit a {
    color: #000000;
}

.margintop {
    margin-top:187px;
    margin-left: 200px;
 
}
.row h4 {
    line-height: 40px;
    font-size: 26px;
}

.madewith {
    font-size: 16px;
    margin-top: 20px;    
    margin-left: 2px;
}

.buttonmargin {
  margin-top: 25px;
  word-spacing: 12px;
}

.btn-success {
    background-color: #68D391;
}

.btn-outline-success {
    color: #000000;
}

.imgeedit img {
    float: right;
    margin-top: -317px;
    margin-right: 60px;
    border: 17px solid #FFFFFF;
    z-index: -1;
    position: relative;
}

.blackborder {
    height: 50px;
    width: 192px;
    background-color:  	rgb(128,128,128);
    rotate: 225deg;
    opacity: 0.8;
    float: right;
    margin-top: -318px;
    margin-left: 938px;  
    position: absolute;
  
   }

   .greyborder {
    height: 50px;
    width: 192px;
    background-color:  	rgb(232,243,236);
    rotate: 225deg;  
    float: right;
    margin-top: 50px;
    margin-left: 650px;  
    position: absolute;
  
   }

   .margintopimg {
       margin-top: 75px;
   }

   .border-top {
       width: 80%;
      
   }

   .progheading {
       font-weight: 800;
   }
  

   .margintopimg  h1 {
     font-size: 62px;
     margin-top: 40px;
   }

   .margintopimg p {
       margin-top: 15px;
       font-size: 18px;
       font-weight: 400;
       color: #757575;
   }

   .cssimg {
       height: 100px;
       width: 100px;
       margin-top: 15px;
       align-items: center;
       vertical-align: middle;
       margin-left: 50px;
   }

   .htmlimg, .javaimg ,.bootstrap {
       height: 100px;
       width: 100px;
       margin-top: 30px;
       margin-left: 185px;
       align-items: center;
        vertical-align: middle;
   }

   .font-bold {
       font-size: 21px;
       float: right;
       margin-right:-30px;
       margin-top: -24px;
   }


   .timeline {
       position: relative;
       max-width: 1200px;
       margin: 0 auto;
   }

   .timeline::after {
       content: ' ';
       position: absolute;
       width: 6px;
       background-color: white;
       top: 0;
       bottom: 0;
       left: 50%;
       margin-left: -3px;
   }


   .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }